@page
@model IndexModel
@{
    ViewData["Title"] = "School";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="text-center">
    <h1>CS ELECTIVE</h1>
    <p>SATURDAY: 4:00pm - 7:00pm</p>
</div>
